.has-error {
    color: #b64a4a !important;
}

.fa-size-100 {
    font-size: 100px;
}

.text-ellipsis {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.color-red {
    color: #b64a4a !important;
}

.width-full {
    width: 100% !important;
}

.width-200 {
    width: 200px !important;
}